
<ion-content [fullscreen]="true" id="signup_page">
  <div class="wrapper">
    <div class="signup-wrapper">
      <div class="sign-up-title">
        <p>Sign Up</p>
      </div>
      <form class="signup-form">
        <div class="form-group">
          <ion-label>Name</ion-label>
          <ion-input  fill="outline" placeholder="Enter Name"></ion-input>
        </div>
        <div class="form-group">
          <ion-label>Mobile</ion-label>
          <ion-input  fill="outline" placeholder="Enter Mobile"></ion-input>
        </div>
        <div class="form-group">
          <ion-label>Email</ion-label>
          <ion-input  fill="outline" placeholder="Enter phone"></ion-input>
        </div>
        <div class="form-group">
          <ion-label>Password</ion-label>
          <ion-input  fill="outline" placeholder="Enter Password"></ion-input>
        </div>

        <div class="submit-btn-wrapper">
          <ion-button  shape="round" (click)="onSubmit()"  class="submit-btn">SignUp</ion-button>
        </div>
      </form>
    </div>
  </div>
</ion-content>

