<!-- <ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="money-img">login</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content [fullscreen]="true" class="ion-background">
  <div class="img-wrapper">
    <img src="../../../assets/icon/mt.webp" alt="header" sizes="" srcset="" />
  </div>
 
  <ion-list class="login-form">
    <ion-item>
      <ion-input label="UserName" labelPlacement="floating" placeholder="Enter text"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input label="Password" labelPlacement="floating" placeholder="Enter text"></ion-input>
    </ion-item>
 <div class="check-remember">
  <ion-checkbox></ion-checkbox>
  <ion-label class="forgot-label">
    <h6>Remember me</h6>
  </ion-label>
 </div>
  
   <ion-button  class="login-btn" shape="round">Login</ion-button>
 
  <div class="forgot-label">
    <ion-label >
      <h6>Forgot Password?</h6>
    
    </ion-label>
  </div>
  <div class="account-label">
    <ion-label routerLink="../signup" >
      <h6>Don't have an account?</h6>
    </ion-label>
  </div>
  <div class="account-label">
   
      <ion-button  class="login-btn" shape="round" (click)="googleSignUp()">Sign in Google</ion-button>
   
  </div>
  <div class="account-label">
   
    <ion-button  class="login-btn" shape="round" (click)="fbSignUp()">Facebook</ion-button>
 
</div>

  <ion-card *ngIf="user">
    <ion-img [src]="user.photoURL"></ion-img>
    <ion-card-header>
      <ion-card-subtitle>{{user.email}}</ion-card-subtitle>
      <ion-card-title>{{user.displayName}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-button (click)="logout()" expand="block" color="danger">Logout</ion-button>
    </ion-card-content>
  </ion-card>


   
  </ion-list>
</ion-content>
