
<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="">
      <ion-icon name="Home"></ion-icon>
     <span class="span-text">Home</span> 
    </ion-tab-button>
    <ion-tab-button tab="set-amount">
      <ion-icon name="logo-usd"></ion-icon>
      <span class="span-text">SetAmount</span> 
    <!-- SetAmount -->
    </ion-tab-button>
    <ion-tab-button tab="expense-list">
      <ion-icon name="list"></ion-icon>
      <span class="span-text">List</span> 
      <!-- List -->
    </ion-tab-button>
    
    <ion-tab-button tab="">
      <ion-icon name="person"></ion-icon>
      <span class="span-text">Profile</span> 
      <!-- Profile -->
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>